<h1>Microblogging</h1>

<p>Hola <%= @user.name %>,</p>

<p>
Bienvenido a este microblogging! Haz click en el siguiente link para activar tu cuenta:</p>

<%= link_to "Activar Cuenta", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
